{{template "partial/head.html" .}}
    <div class="wrapper">
      <header>
        <h1>Minimal</h1>
        <p>A Theme for GitHub Pages</p>
        <p class="view"><a href="http://github.com/orderedlist/minimal">View the Project on GitHub <small>orderedlist/minimal</small></a></p>
        <ul>
          <li><a href="/login">login <strong>ZIP File</strong></a></li>
          <li><a href="/register">Download <strong>register</strong></a></li>
          <li><a href="http://github.com/orderedlist/minimal">Fork On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
		{{.Config.GetDoc "home.md" |markdown}}
      </section>
{{template "partial/footer.html" .}}
