<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {{if .Title}}
    <title>{{.Title}}</title>
    {{else}}
    <title>heroic oauth</title>
    {{end}}
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>Hero</h1></a>
        <p>OAUTH 2 Provider</p>
        <ul>
          <li><a href="/login"> <strong>Login</strong></a></li>
          <li><a href="/register"><strong>Register</strong></a></li>
          <li><a href="http://github.com/gernest/hero"><strong> GitHub</strong></a></li>
        </ul>
      </header>

